@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@mixin glassBoarder{
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5), inset 0px -3px 12px rgba(2, 119, 255, 0.2);
}
@mixin filtersStyle {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 7px;
  margin-bottom: 1.8em;
  margin-top: 1em;
  letter-spacing: 3px;
  max-width: 59em;
  cursor: pointer;
  padding: 7px;
  @include glassBoarder;
  text-transform: uppercase;
  span {
    font-size: 0.9rem;
    margin: 0.25em;
    border-radius: 10px;
    padding: 0.25em 0.75em;
    transition-duration: 0.3s;
  }

  .selected {
    box-shadow: 0 0 10px rgb(0, 157, 255);
  }
}

@mixin customBorder {
  border-bottom: 8px double rgba(0, 157, 255, 0.29);
  box-shadow: 0 0 40px 15px #0090ff;
  overflow: hidden;
}

@mixin colorGradient {
  background: linear-gradient(179deg, #1e00ff, #6500ff, #ff0000);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  -o-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 48% 0
    }
    50% {
      background-position: 53% 100%
    }
    100% {
      background-position: 48% 0
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 48% 0
    }
    50% {
      background-position: 53% 100%
    }
    100% {
      background-position: 48% 0
    }
  }
  @-o-keyframes AnimationName {
    0% {
      background-position: 48% 0
    }
    50% {
      background-position: 53% 100%
    }
    100% {
      background-position: 48% 0
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 48% 0
    }
    50% {
      background-position: 53% 100%
    }
    100% {
      background-position: 48% 0
    }
  }

}

@mixin logoImage {
  display: block;
  width: 7em;
  height: 7em;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 15px #9ecaed;
  margin: 0 0.25em;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000000;
}

body {
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 5px rgba(0, 157, 255, 1);
}

p {
  text-align: center;
  font-size: 1em;
  letter-spacing: 5px;
}

img {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 5px rgb(9, 9, 9);
  margin: 0 0.25em;
}

h6 {
  margin: 0;
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.49);
  font-weight: lighter;
  letter-spacing: 1px;
}

h2 {
  margin-bottom: 1em;
  text-align: center;
}

.customHr {
  border: 1px solid rgba(0, 144, 255, 0.44);
  box-shadow: 0 0 10px 2px rgba(0, 144, 255, 0.8);
  width: 98%;
  margin: 0 auto;
}

details {
  margin: 15px 0 15px 0;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;
}
summary{
  font-size: 1.1em;
  letter-spacing: 4px;
  line-height: 25px;

}

details[open] summary ~ * {
  animation: slide .3s ease-in-out;
  @keyframes slide {
    0% {
      opacity: 0;
      margin-left: -20px
    }
    100% {
      opacity: 1;
      margin-left: 0
    }
  }
}

.intro-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  padding-top: 30%;

  .app-name {
    font-size: 15px;
    letter-spacing: 6px;
  }

  .loader {
    text-align: center;
    padding-top: 50px;
  }

  .designer {
    font-size: 8px;
    padding-top: 50px;
    letter-spacing: 1px;
  }
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 60em;
  width: 100%;
  margin: 0 auto;
  font-family: Lato, serif;
  @include colorGradient;
}

.radio {
  min-height: 100em;
  max-width: 60em;
  width: 100%;
  --borderWidth: 0px;
  position: relative;
  animation: slide .4s ease-in-out;
  background-color: rgba(0, 0, 0, 0.74);

  .player-body {
    display: flex;
    align-items: center;
    height: 10em;
    padding: 7px;
    backdrop-filter: blur(12px);
    background-color: rgba(0, 0, 0, 0.49);
    position: sticky;
    top: 0;
    z-index: 1;
    @include glassBoarder;
    .static-logo {
      @include logoImage;
      border: 2px solid rgb(255, 255, 255);
      box-shadow: 0 0 5px #ffffff;
      animation: opacity .2s ease-in-out;
      @keyframes opacity {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }

    .animated-logo {
      @include logoImage;
      border: 2px solid rgb(0, 157, 255);
      box-shadow: 0 0 25px rgb(0, 157, 255);
      transition-duration: 1s;
      animation: rotation 7.5s infinite linear;
      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }
    }
  }

  .notificationBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.38);
    position: fixed;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(12px);
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5), inset 0px -3px 12px rgba(2, 119, 255, 0.2);
    z-index: 1;

    animation: opacity 0.4s ease-in-out;
    @keyframes opacity {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .notification {
    padding: 5px;
    font-size: 15px;
    text-align: center;
    letter-spacing: 3px;
  }

}

.favorites {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  max-width: 100%;
  cursor: pointer;
  overflow: auto;
  padding: 1em;
  margin-top: 1em;
  margin: 7px;
  @include glassBoarder;

  .favorite {
    img {
      border: 2px solid rgba(2, 120, 255, 0.35);
      box-shadow: 0 0 40px rgb(0, 0, 0);
    }
    .active {
      img {
        border: 2px solid rgb(0, 157, 255);
        box-shadow: 0 0 25px rgb(0, 157, 255);
        transition-duration: 0.5s;
      }
    }

    .favoriteBlock {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      max-height: 100%;
      align-items: center;
      margin: 1em;

      .deleteButton {
        border: none;
        background: none;
        font-size: 20px;
        cursor: pointer;

        img {
          width: 1em;
          height: 1em;
          margin: 0 0 0 3em;
        }

      }
      .favoriteName {
        width: 80%;
        text-align: center;
        margin-top: 1em;
        font-size: 13px;
        letter-spacing: 1px;
      }
    }
  }
}
.countries {
  @include filtersStyle;
}
.filters {
  @include filtersStyle;
}

.stations {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  text-align: center;
  max-width: 59em;
  cursor: pointer;
  margin: 7px;
  @include glassBoarder;

  .station {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slide .3s ease-in-out;
    border: none;

    img {
      border: 2px solid rgba(2, 120, 255, 0.35);
      box-shadow: 0 0 40px rgb(0, 0, 0);
    }

    .playedStation {
      img {
        border: 2px solid rgb(0, 157, 255);
        box-shadow: 0 0 20px rgb(0, 139, 252);
        transition-duration: 0.5s;
      }
    }

    .stationBlock {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
      width: 100%;
      height: 100%;
      align-items: center;

      img {
        width: 5em;
        height: 5em;
        margin: 0;
      }
      .save-button {
        cursor: pointer;
        background: none;
        font-size: 20px;
        border: none;
        margin: 0 0 0 3em;
        img {
          width: 1.5em;
          height: 1.5em;
        }
      }
    }
  }
}

.loader-box {
  display: flex;
  width: 100vw;
}
.loader-waves {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.loader-waves div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0;
      left: 0;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
}
.loader-waves div:nth-child(2) {
  animation-delay: -0.5s;
}

.pre-loader {
  display: flex;
  padding-top: 10%;
}

.rhap_container.player {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-items: center;
  padding: 0.25em 0.75em;
  margin: 1em 0 0 0;
  border-radius: 10px;
  height: 6rem;
  text-align: center;
  color: white;
}

.rhap_progress-indicator {
  border-radius: 5px;
  background-color: rgb(255, 255, 255) !important;
}

.rhap_progress-bar {
  background-color: rgba(255, 255, 255, 0) !important;
}

.rhap_progress-filled {
  background-color: rgb(255, 0, 0) !important;
}

.rhap_download-progress {
  background-color: rgb(255, 255, 255) !important;
}

.rhap_time {
  font-size: 12px !important;
  color: white !important;
}

.rhap_volume-bar {
  background-color: rgb(255, 0, 0) !important;
}

.rhap_volume-indicator {
  background-color: rgb(255, 255, 255) !important;
}

.rhap_volume-button {
  svg {
    color: rgb(255, 255, 255) !important;
  }
}

.rhap_stacked .rhap_controls-section {
  margin-top: 0 !important;

}

.rhap_controls-section .rhap_volume-controls {
  justify-content: right;
  color: #fffefe;
}

.rhap_controls-section .rhap_main-controls button[aria-label="Play"] svg path {
  fill: rgb(255, 255, 255) !important;

}

.rhap_controls-section .rhap_main-controls button[aria-label="Pause"] svg path {
  fill: rgb(255, 255, 255) !important;

}

@media only screen and (max-width: 600px) {
  .App{
    background: #4000ff;
  }
  .stations {
    grid-template-columns: repeat(2, 50%);
  }
  .favorites {
    grid-template-columns: repeat(3, 33.3%);
  }
  .favoriteBlock {
    height: 150px;
    padding: 8px;
  }
  .stationName {
    font-size: 13px;
    width: 50%;
    margin-top: 10px;
  }
  .notification {
    font-size: 10px !important;
  }
  .intro-box {
    padding-top: 50%;
  }
}