@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

@mixin colorGradient {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@mixin logoImage {
  display: block;
  width: 7em;
  height: 7em;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 15px #9ecaed;
  margin: 0 0.25em;
}

@mixin mainShadow {
  box-shadow: 0 0 5px rgba(9, 241, 221, 0.13);
}
//========================================================================
html {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000000;
  border: 2px solid rgba(9, 241, 221, 0.13);
}

body {
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 10px rgba(9, 241, 221, 1);
}

img {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 5px rgb(9, 9, 9);
  margin: 0 0.25em;
}

h6 {
  margin: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.49);
}

h2, h3 {
  text-align: center;
}

h2 {
  margin-bottom: 1em;
  text-align: center;
}

hr {
  border-bottom: 5px solid rgba(9, 241, 221, 0.07);
  margin: 0;
}

audio {
  width: 100%;
}


details {
  text-align: center;
  font-size: 1.3em;
  cursor: pointer;
}

details {
  margin: 15px 0 15px 0;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -10px
  }
  100% {
    opacity: 1;
    margin-left: 0
  }
}

//=======================================================================

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 60em;
  width: 100%;
  margin: 0 auto;
}

.radio {
  .player-body {
    border-bottom: 8px double rgba(9, 241, 221, 0.13);
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.49);
    backdrop-filter: blur(15px);
    position: sticky;
    height: 9em;
    padding: 7px;
    z-index: 1;
    .static-logo {
      @include logoImage;
      border: 2px solid rgba(0, 0, 0, 0);
      box-shadow: 0 0 5px #ffffff;
    }

    .animated-logo {
      @include logoImage;
      border: 2px solid rgb(0, 157, 255);
      box-shadow: 0 0 25px rgb(0, 157, 255);
      transition-duration: 1s;
      animation: rotation 7.5s infinite linear;
      @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }
    }
  }
  border: 3px double rgba(9, 241, 221, 0.13);
  min-height: 100em;
  max-width: 60em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.82);
  --borderWidth: 0px;
  position: relative;
  overflow: hidden;
}

.radio:after {
  @include colorGradient;
}

.countries {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 1.2rem;
  width: 100%;
  cursor: pointer;

  span {
    margin: 0.25em;
    border-radius: 10px;
    padding: 0.25em 0.75em;
    border: none;
    transition-duration: 1s;

    &:hover {
      cursor: pointer;
      border-color: rgba(9, 241, 221, 1);
      @include mainShadow;
    }
  }

  .selected {
    box-shadow: 0 0 15px rgba(9, 241, 221, 1);
  }
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 1.2rem;
  width: 100%;
  cursor: pointer;

  span {
    margin: 0.25em;
    border-radius: 10px;
    padding: 0.25em 0.75em;
    transition-duration: 1s;

    &:hover {
      cursor: pointer;
      border-color: rgba(9, 241, 221, 1);
      @include mainShadow;
    }
  }

  .selected {
    border-color: rgba(9, 241, 221, 1);
    box-shadow: 0 0 15px rgba(9, 241, 221, 1);

  }
}

.stations {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  width: 100%;
  cursor: pointer;

  .station {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img{
      border: 2px solid rgba(0, 0, 0, 0);
    }
    .playedStation {
      img {
        border: 2px solid rgb(0, 157, 255);
        box-shadow: 0 0 20px rgb(0, 139, 252);
        transition-duration: 0.5s;
      }
    }
    .stationBlock {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
      width: 100%;
      height: 100%;
      align-items: center;

      img {
        width: 5em;
        height: 5em;
        margin: 0;
      }
      .save-button {
        cursor: pointer;
        background: none;
        font-size: 20px;
        border: none;
        margin: 0 0 0 3em;

        img {
          width: 1.5em;
          height: 1.5em;
        }
      }

      .toast-message {
        font-size: 15px;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.05);
        text-shadow: none;

        svg {
          display: none;
        }
      }
    }


  }
}

.favorites {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  max-width: 100%;
  cursor: pointer;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.42);
  border-top: 4px double rgba(9, 241, 221, 0.1);
  border-bottom: 4px double rgba(9, 241, 221, 0.1);
  padding: 1em;
  margin-top: 1em;


  .favorite{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    img{
      border: 2px solid rgba(0, 0, 0, 0);
    }
    .active{
      img{
        border: 2px solid rgb(0, 157, 255);
        box-shadow: 0 0 25px rgb(0, 157, 255);
        transition-duration: 0.5s;
      }
    }
    .favoriteBlock {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      max-height: 100%;
      align-items: center;
      transition-duration: 1s;
      .deleteButton {
        border: none;
        background: none;
        font-size: 20px;
        cursor: pointer;

        img {
          width: 1em;
          height: 1em;
          margin: 0 0 0 3em;
        }

      }

      .favoriteName {
        width: 80%;
        text-align: center;
        margin-top: 1em;
        font-size: 13px;
      }
    }

  }

}


.rhap_container.player {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-items: center;
  padding: 0.25em 0.75em;
  margin: 1em 0 0 0;
  border-radius: 10px;
  height: 6rem;
  text-align: center;
  color: white;
}

.rhap_progress-indicator {
  border-radius: 5px;
  background-color: rgb(255, 255, 255) !important;
}

.rhap_progress-bar {
  background-color: rgba(255, 255, 255, 0) !important;
}

.rhap_progress-filled {
  background-color: rgb(255, 0, 0) !important;
}

.rhap_download-progress {
  background-color: rgb(255, 255, 255) !important;
}

.rhap_time {
  font-size: 12px !important;
  color: white !important;
}

.rhap_volume-bar {
  background-color: rgb(255, 0, 0) !important;
}

.rhap_volume-indicator {
  background-color: rgb(255, 255, 255) !important;
}

.rhap_volume-button {
  svg {
    color: rgb(255, 255, 255) !important;
  }
}

.rhap_stacked .rhap_controls-section {
  margin-top: 0 !important;

}

.rhap_controls-section .rhap_volume-controls {
  justify-content: right;
  color: #fffefe;
}

.rhap_controls-section .rhap_main-controls button[aria-label="Play"] svg path {
  fill: rgb(255, 255, 255) !important;

}

.rhap_controls-section .rhap_main-controls button[aria-label="Pause"] svg path {
  fill: rgb(255, 255, 255) !important;

}

@media only screen and (max-width: 600px) {
  .stations {
    grid-template-columns: repeat(2, 50%);
  }
  .favorites{grid-template-columns: repeat(3, 33.3%);}
  .favoriteBlock {
    height: 150px;
    padding: 8px;
  }

  .stationName {
    font-size: 13px;
    width: 50%;
    margin-top: 10px;
  }
  .save-button {
    margin: 0;
    margin: 0 0 0 5em;
  }
}